[Desktop Entry]
Name=Yawpm
Comment=Yet Another Wine Prefix Manager
Exec=/bin/bash -c 'cd /opt/Yawpm && python3 /opt/Yawpm/yawpm.py'
Icon=wine
Terminal=true
Type=Application
Categories=Games;Emulator;Wine;
